.title {
	font-family: "Italianno";
}
.subtitle {
	font-family: "Rufina";
}
.about {
	font-family: "Montserrat";
	max-width: 46.75rem;
	max-height: 12rem;
	align-self: center;
	text-align: justify;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

.aboutTitle {
	text-transform: uppercase;
}

@media (max-width: 750px) {
	
	.about {
		margin-top: auto;
		width: 100vw;
		max-height: 16rem;
	}
}
