* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.icon {
  max-height: 6vh;
}

@media (max-width: 768px) {
  .container {
    max-height: 86vh !important;
    align-items: center !important;
  }

  .row {
    min-width: 60vw !important;
    max-height: 45vh;
    margin-bottom: 20px;
    line-height: 1.1;
  }

  .title {
    margin: 0 !important;
  }
  .text {
    margin-top: 0 !important;
  }

  .map {
    max-height: 30vh !important;
    min-width: 75vw !important;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .container {
    max-height: 85vh;
  }
  .row {
    min-width: 60vh;
    margin-bottom: 20px;
    max-height: 40vh;
    margin-top: 5vh !important;
  }
  .map {
    height: 28vh !important;
    min-width: 70vw !important;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .container {
    max-height: 70vh;
    align-items: flex-start !important;
    padding-top: 20px;
  }
  .row {
    line-height: 1.1;
  }

  .address {
    width: 80% !important;
  }

  .map {
    height: 42vh !important;
  }
}
