::placeholder {
  text-transform: uppercase;
  font-size: clamp(0.7rem, 2vw, 0.8rem);
}

.loginPage {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #545454;
}
