.deleteButton:hover {
  background-color: rgb(196, 11, 11) !important;
}

@media (max-width: 767px) {
  .usersContainer {
    min-width: 80vw !important;
  }

  .emailColumn {
    display: none !important;
  }
  .users {
    max-width: "50vw" !important;
  }
}
