.pageContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
}

.backHomeButton {
  background-color: #e1651f;
  border-color: transparent;
  color: #fff;
  font-family: "Montserrat, sans-serif";
  font-size: clamp(1rem, 2vw, 1.2rem);
  padding: 10px;
  margin-top: 2vh;
  margin-left: 2vw;
}

.backHomeButton:hover {
  background-color: #e48b25;
}
